Django>=5.2.17,<5.3
django-htmx
django-import-export
google-cloud-storage
ortools
pillow
psycopg2-binary
pytest
pytest-django
annotated-types
anyio
asgiref
Authlib
bandit
black
bleach
boolean.py
CacheControl
cachetools
certifi
cffi
cfgv
charset-normalizer
click
coverage
cryptography
cyclonedx-python-lib
defusedxml
diff-match-patch
distlib
django-extensions
django-htmx
django-import-export
django-reversion
django-storages
django-stubs
django-stubs-ext
django-tinymce
django-widget-tweaks
dparse
filelock
flake8
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
gunicorn
h11
httpcore
httplib2
httpx
icalendar
identify
idna
iniconfig
isort
Jinja2
joblib
license-expression
markdown-it-py
MarkupSafe
marshmallow
mccabe
mdurl
msgpack
mypy_extensions
nodeenv
oauthlib
ortools
packageurl-python
packaging
pathspec
pillow
pip-api
pip-requirements-parser
pip_audit
platformdirs
playwright
pluggy
pre_commit
proto-plus
protobuf
psycopg2-binary
py-serializable
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic_core
pydenticon
pyee
pyflakes
Pygments
PyJWT
pyparsing
pytest
pytest-base-url
pytest-cov
pytest-django
pytest-playwright
python-dateutil
python-dotenv
python-slugify
python3-openid
pytokens
pytz
PyYAML
qrcode
regex
requests
requests-oauthlib
rich
rsa
ruamel.yaml
ruamel.yaml.clib
ruff
safety
safety-schemas
setuptools
shellingham
six
sniffio
social-auth-app-django
social-auth-core
sortedcontainers
sqlparse
stevedore
tablib
tenacity
text-unidecode
tinycss2
toml
tomlkit
tqdm
typer
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
wheel
