---
# Handlers for postfix role

- name: Restart Postfix
  ansible.builtin.service:
    name: postfix
    state: restarted

- name: Reload Postfix
  ansible.builtin.service:
    name: postfix
    state: reloaded

- name: Postmap virtual domains
  ansible.builtin.command:
    cmd: postmap {{ postfix_config_dir }}/virtual_domains
  changed_when: true

- name: Postmap virtual aliases
  ansible.builtin.command:
    cmd: postmap {{ postfix_config_dir }}/virtual
  changed_when: true

- name: Postmap sender whitelist
  ansible.builtin.command:
    cmd: postmap {{ postfix_config_dir }}/sender_whitelist
  changed_when: true

- name: Postmap SASL passwords
  ansible.builtin.command:
    cmd: postmap {{ postfix_config_dir }}/sasl_passwd
  changed_when: true

- name: Copy sasldb to chroot
  ansible.builtin.copy:
    src: /etc/sasldb2
    dest: /var/spool/postfix/etc/sasldb2
    remote_src: true
    owner: root
    group: postfix
    mode: "0640"
