{% extends "base.html" %}
{% load static %}
{% load member_extras %}
{% block title %}Member Directory{% endblock %}

{% block content %}
<h2 class="mb-4 d-flex justify-content-between align-items-center">
    Club Members
    {% if user.is_staff %}
        <a href="/admin/members/member/add/" class="btn btn-success btn-sm">➕ Add New Member</a>
    {% endif %}
</h2>
{% duty_emoji_legend %}

<table class="table table-bordered table-hover table-striped">
    <thead class="table-light">
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Duties</th>
            <th>Email</th>
            <th>View
            {% if user.is_staff %}
            <br>Edit 
            {% endif %}
            </th>
        </tr>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>
                {% if member.profile_photo %}
                  <img src="{{ member.profile_photo.url }}" alt="Profile photo" height="60" class="rounded-circle me-2">
                {% else %}
                  <img src="{% static 'images/default-avatar-100px.png' %}" height="60" class="rounded-circle me-2">
                {% endif %}
            </td>
            </td>
            <td>{{ member.first_name }} {% if member.nickname %}“{{ member.nickname }}”{% endif %} {% if member.middle_initial %}{{ member.middle_initial }}.{% endif %} {{ member.last_name }} {% if member.name_suffix %}{{ member.name_suffix }}{% endif %}</td>

            <td>
                {% if member.phone %}
                <div style="white-space: nowrap;">📞 {{ member.phone|format_us_phone }}</div>
                {% endif %}
                {% if member.mobile_phone %}
                <div style="white-space: nowrap;">📱 {{ member.mobile_phone|format_us_phone }}</div>
                {% endif %}
            <td class="text-center">
                {{ member|render_duties|safe }}
            </td>
            <td>
                <a href="mailto:{{ member.email }}">{{ member.email }}</a>
            </td>
            <td>
                {% if user.is_staff %}
                <a class="btn btn-sm btn-outline-primary" href="{% url 'members:member_edit' member.id %}">Edit</a>
                {% endif %}
                <a href="{% url 'members:member_view' member.id %}" class="btn btn-outline-primary btn-sm">View</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
