{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Edit Member{% endblock %}

{% block content %}
<div class="container">

  <h2 class="mb-4">Edit Member</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}


    <div class="row">
    <div class="mt-4">
      <h5>Profile Photo</h5>
      {% if form.instance.profile_photo %}
      <img src="{{ form.instance.profile_photo.url }}"
           class="img-thumbnail mb-2"
           style="max-height: 150px;"
           alt="Current profile photo">
      {% else %}
      <img src="{% static 'images/default-avatar-large.png' %}"
           class="img-thumbnail mb-2"
           style="max-height: 150px;"
           alt="Default profile photo">
      {% endif %}
      {{ form.profile_photo|as_crispy_field }}
    </div>

    <div class="row">

      <div class="col-md-6">
        <h5>Personal Info</h5>
        {{ form.first_name|as_crispy_field }}
        {{ form.last_name|as_crispy_field }}
        {{ form.username|as_crispy_field }}
        {{ form.email|as_crispy_field }}
        {{ form.phone|as_crispy_field }}
        {{ form.mobile_phone|as_crispy_field }}
      </div>

      <div class="col-md-6">
        <h5>Address</h5>
        {{ form.address|as_crispy_field }}
        {{ form.city|as_crispy_field }}
        {{ form.state|as_crispy_field }}
        {{ form.zip_code|as_crispy_field }}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <h5>Membership</h5>
        {{ form.joined_club|as_crispy_field }}
        {{ form.glider_rating|as_crispy_field }}
        {{ form.glider_owned|as_crispy_field }}
        {{ form.second_glider_owned|as_crispy_field }}
      </div>

      <div class="col-md-6">
        <h5>Roles & Access</h5>
        {{ form.instructor|as_crispy_field }}
        {{ form.duty_officer|as_crispy_field }}
        {{ form.assistant_duty_officer|as_crispy_field }}
        {{ form.secretary|as_crispy_field }}
        {{ form.treasurer|as_crispy_field }}
        {{ form.webmaster|as_crispy_field }}
        {{ form.director|as_crispy_field }}
        {{ form.member_manager|as_crispy_field }}
      </div>
    </div>

    <div class="mt-4">
      {{ form.emergency_contact|as_crispy_field }}
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        {{ form.public_notes|as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ form.private_notes|as_crispy_field }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
  </form>
</div>
{% endblock %}
