{% extends "base.html" %}
{% load humanize %}

{% block content %}
{% load member_extras %}


<div class="modal-header">
  <h5 class="modal-title">Logsheet Closeout - {{ logsheet.log_date }} @ {{ logsheet.airfield }}</h5>
</div>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}


<form method="post" id="closeout-form">
  <div class="modal-body">
    {% csrf_token %}
    {{ form.media }}
    {{ form.non_field_errors }}

    <table class="table table-borderless align-middle">
      <tbody>
        <tr>
          <th scope="row" class="text-end">{{ form.safety_issues.label_tag }}</th>
          <td>{{ form.safety_issues }} {{ form.safety_issues.errors }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-end">{{ form.equipment_issues.label_tag }}</th>
          <td>{{ form.equipment_issues }} {{ form.equipment_issues.errors }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-end">{{ form.operations_summary.label_tag }}</th>
          <td>{{ form.operations_summary }} {{ form.operations_summary.errors }}</td>
        </tr>

        <tr><td colspan="2"><hr class="my-3"></td></tr>
        <tr><th colspan="2">Duty Crew</th></tr>

        <tr>
          <th scope="row" class="text-end">{{ duty_form.duty_officer.label_tag }}</th>
          <td>{{ duty_form.duty_officer }} {{ duty_form.duty_officer.errors }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-end">{{ duty_form.assistant_duty_officer.label_tag }}</th>
          <td>{{ duty_form.assistant_duty_officer }} {{ duty_form.assistant_duty_officer.errors }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-end">{{ duty_form.duty_instructor.label_tag }}</th>
          <td>{{ duty_form.duty_instructor }} {{ duty_form.duty_instructor.errors }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-end">{{ duty_form.surge_instructor.label_tag }}</th>
          <td>{{ duty_form.surge_instructor }} {{ duty_form.surge_instructor.errors }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-end">{{ duty_form.tow_pilot.label_tag }}</th>
          <td>{{ duty_form.tow_pilot }} {{ duty_form.tow_pilot.errors }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-end">{{ duty_form.surge_tow_pilot.label_tag }}</th>
          <td>{{ duty_form.surge_tow_pilot }} {{ duty_form.surge_tow_pilot.errors }}</td>
        </tr>

        {% if formset %}
          <tr><td colspan="2"><hr class="my-3"></td></tr>
          <tr><th colspan="2">Towplane Closeout</th></tr>
          {% for towform in formset %}
          <tr>
            <th class="text-end">Towplane</th>
            <td>{{ towform.towplane }} {{ towform.towplane.errors }}</td>
          </tr>
          <tr>
            <th class="text-end">Start Tach</th>
            <td>{{ towform.start_tach }} {{ towform.start_tach.errors }}</td>
          </tr>
          <tr>
            <th class="text-end">End Tach</th>
            <td>{{ towform.end_tach }} {{ towform.end_tach.errors }}</td>
          </tr>
          <tr>
            <th class="text-end">Fuel Added</th>
            <td>{{ towform.fuel_added }} {{ towform.fuel_added.errors }} US gal</td>
          </tr>
          <tr>
            <th class="text-end">Notes</th>
            <td>{{ towform.notes }} {{ towform.notes.errors }}</td>
          </tr>
          <tr><td colspan="2"><hr></td></tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

  <div class="modal-footer justify-content-start">
    <button type="submit" class="btn btn-success me-2">Save Closeout</button>
    <a href="{% url 'logsheet:manage' pk=logsheet.pk %}" class="btn btn-secondary">Cancel</a>
  </div>
</form>


<footer style="font-size: 0.8em; color: gray;">
  Template: <code>logsheet/edit_closeout_form.html</code>
</footer>

{% endblock %}