
{% load siteconfig_tags %}
<div class="modal-header">
<h2>Flight Details</h2>
{% if is_modal %}
<br><button type="button" class="btn-close" data-bs-dismiss="modal"></button>
{% endif %} 
</div>
<div class="modal-body">
{% get_siteconfig as config %}
<h4>📅 General Info</h4>
<ul>
  <li><strong>Flight ID:</strong> {{ flight.id }}</li>
  <li><strong>Date:</strong> {{ flight.logsheet.log_date }}</li>
  <li><strong>Airfield:</strong> {{ flight.airfield }}</li>
  <li><strong>Glider:</strong> {{ flight.glider }}</li>
</ul>

<h4>👨‍✈️ Pilot&nbsp;&&nbsp;{{ config.instructor_title|default:'Instructor' }}</h4>
<ul>
  <li><strong>Pilot:</strong> 
    {% if flight.pilot %}
      {{ flight.pilot.full_display_name }}
    {% else %}
      {{ flight.guest_pilot_name }}
    {% endif %}
  </li>

  <li><strong>{{ config.instructor_title|default:'Instructor' }}:</strong>
    {% if flight.instructor %}
      {{ flight.instructor.full_display_name }}
    {% else %}
      {{ flight.guest_instructor_name }}
    {% endif %}
  </li>

  {% if flight.passenger %}
    <li><strong>Passenger:</strong> {{ flight.passenger.full_display_name }}</li>
  {% elif flight.passenger_name %}
    <li><strong>Passenger (Guest):</strong> {{ flight.passenger_name }}</li>
  {% endif %}
</ul>

<h4>🛫 Flight Times</h4>
<ul>
  <li><strong>Takeoff Time:</strong> {{ flight.launch_time }}</li>
  <li><strong>Landing Time:</strong> {{ flight.landing_time }}</li>
  <li><strong>Duration:</strong> {{ flight.duration }}</li>
  <li><strong>Release Altitude:</strong> {{ flight.release_altitude }} ft</li>
</ul>
<h4>🚀 Launch Method</h4>
<ul>
  <li>
    <strong>Launch Method:</strong>
    {% if flight.guest_towpilot_name == "N-A Winch" or flight.towplane is None %}
      Winch
    {% else %}
      Aero-Tow</li>
   <li><strong>Towplane:</strong> {{ flight.towplane }}</li>

  <li><strong>{{ config.towpilot_title|default:'Tow Pilot' }}:</strong>
    {% if flight.tow_pilot %}
      {{ flight.tow_pilot.full_display_name }}
    {% else %}
      {{ flight.guest_towpilot_name }}
  </li>

    {% endif %}
</ul>
    {% endif %}
  </li>
</ul>
<h4>💰 Costs</h4>
<ul>
  <li><strong>Tow Cost:</strong> {{ flight.tow_cost_actual|floatformat:2 }}</li>
  <li><strong>Rental Cost:</strong> {{ flight.rental_cost_actual|floatformat:2 }}</li>
</ul>

</div>

{% if is_modal %}
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
{% endif %}