{% extends "base.html" %}
{% block content %}
<h1>Log Sheets</h1>

<div class="list-group">
  <a href="{% url 'logsheet:create' %}" class="list-group-item list-group-item-action">
    ➕ Create New Log Sheet
  </a>
  <a href="{% url 'logsheet:correct' %}" class="list-group-item list-group-item-action">
    ✏️ Correct Previous Log Sheet
  </a>
  <a href="#" class="list-group-item list-group-item-action disabled">
    📊 View Finalized Report (Coming Soon)
  </a>
  <a href="#" class="list-group-item list-group-item-action disabled">
    📘 Instructions (Coming Soon)
  </a>
</div>
{% endblock %}