{% extends "base.html" %}
{% block content %}
<h1>Create New Log Sheet</h1>


<!-- Button to trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createLogsheetModal">
  Create New Logsheet
</button>

{% if message %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% if form.non_field_errors %}
  <div class="alert alert-danger">
    {{ form.non_field_errors }}
  </div>
{% endif %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<!-- Modal HTML structure -->
<div class="modal fade" id="createLogsheetModal" tabindex="-1" aria-labelledby="createLogsheetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
    
        <div class="mb-3">
            {{ form.log_date.label_tag }}
            {{ form.log_date }}
            {{ form.log_date.errors }}
        </div>
        <div class="mb-3">
            {{ form.location.label_tag }}
            {{ form.location }}
            {{ form.location.errors }}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Start Logsheet</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
        

    </div>
  </div>
</div>

  <footer style="font-size: 0.8em; color: gray;">
    Template: <code>logsheet/start_logsheet.html</code>
  </footer>
{% endblock %}
