{% extends "base.html" %}
{% block title %}Instruction Report{% endblock %}
{% block content %}
<h2>Instruction Report for {{ student.full_display_name }} – {{ report_date|date:"F j, Y" }}</h2>

<form method="post">
  {% csrf_token %}
  {{ report_form.media }}
  {{ formset.management_form }}
  {% for form in formset %}
  {{ form.non_field_errors }}
  {{ form.errors }}
  {% endfor %}

  <h4>Session Summary</h4>
  {{ report_form.report_text.label_tag }}
  {{ report_form.report_text }}

  <div class="form-check mt-3 mb-4">
    {{ report_form.simulator }} {{ report_form.simulator.label_tag }}
  </div>

  <h4 class="mt-5">Lesson Scores</h4>
  <table class="table table-bordered w-auto table-striped table-hover">
    <thead>
      <tr>
        <th>Code</th>
        <th>Title</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for form, lesson in form_rows %}
        <tr>
          <td class="text-end">{{ lesson.code }}</td>
          <td class="text-end">{{ lesson.title }}</td>
          <td>{{ form.score }} {{ form.lesson.as_hidden }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <button type="submit" class="btn btn-success">Save Instruction Report</button>
  <a href="{% url 'instructors:syllabus_overview' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
