{% extends "base.html" %}
{% block content %}
<h2>Log Ground Instruction for {{ student.full_display_name }}</h2>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

{{ form.media }}
<form method="post">
  {% csrf_token %}

  <div class="mb-3">
    {{ form.date.label_tag }}
    {{ form.date }}
  </div>
  <div class="mb-3">
    {{ form.location.label_tag }}
    {{ form.location }}
  </div>
  <div class="mb-3">
    {{ form.duration.label_tag }}
    {{ form.duration }}
  </div>

  <div class="mb-4">
    {{ form.notes.label_tag }}
    {{ form.notes }}
  </div>


  <h4 class="mt-4">Lesson Scores</h4>
  <table class="table table-bordered table-striped table-sm w-auto">
    <thead>
      <tr>
        <th class="text-end">Code</th>
        <th class="text-end">Title</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for form, lesson in form_rows %}
        <tr>
          <td class="text-end">{{ lesson.code }}</td>
          <td class="text-end">{{ lesson.title }}</td>
          <td>{{ form.score }} {{ form.lesson.as_hidden }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn btn-success">Save Ground Instruction</button>
  <a href="{% url 'members:member_view' student.id %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
