{% extends "base.html" %}
{% load static %}
{% block head_extra %}
  {# load a print-only stylesheet #}
  <link rel="stylesheet" href="{% static 'css/print_syllabus.css' %}" media="print">
{% endblock %}
{% block content %}
  <div class="syllabus-full">
    <h1>{{ header.title }}</h1>
    <div>{{ header.content|safe }}</div>
    <h2>{{ materials.title }}</h2>
    <div>{{ materials.content|safe }}</div>

    <h2>Table of Contents</h2>
    <ul>
      {% for lesson in lessons %}
        <li><a href="#{{ lesson.code }}">{{ lesson.code }} - {{ lesson.title }}</a></li>
      {% endfor %}
    </ul>

    <hr>

    {% for lesson in lessons %}
      <div id="{{ lesson.code }}" class="lesson-section mb-5" style="page-break-before: always">
        <h3>{{ lesson.code }} - {{ lesson.title }}</h3>
        <div>{{ lesson.description|safe }}</div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
